<form id="login-up-page" action="">
	<div class="input-group">
		<span class="input-group-addon">用户名</span>
		<input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
	</div>
	<div class="input-group">
		<span class="input-group-addon">昵称</span>
		<input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
	</div>
	<div class="input-group">
		<span class="input-group-addon">密码</span>
		<input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
	</div>
	<div class="input-group">
		<span class="input-group-addon">确认密码</span>
		<input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
	</div>
	<div>
		<button type="button" class="btn btn-default">注册</button>
	</div>
</form>